<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Delete</h2>
        <h1> Are You Sure ?</h1>
        <form method="post"> 
            {% csrf_token %} 
            {{ form.as_p }} 
            <input class="btn btn-warning" type="submit" value="Delete"> 
            <a class="btn btn-warning" href="{% url 'mypostdeatils' post.id %}">Cancel</a>
        </form> 
    </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>