<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
 <div class="container mt-5" class="div1">
      <h2 class="text-center alert alert-danger">Post Page</h2>
     {% for i in post_list %}
     <h1>{{i.title}}</h1>
     <img src="{{ i.image.url }}" width="400" height="200">
     <h5>Author Name :-{{i.author}}</h5>
     <p>Description :- {{i.description}}</p>
     {% endfor %}
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>