<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
 <style>
     .postcenter{
          text-align: center;
     }
     img{
       text-align: center;
       margin-left: 30%;
     }
</style>
</head>
<body>
 <div class="container mt-5">
     <div class="text-center alert alert-danger">
         <h1 style="float:left;">Post Page  </h1> 
         <h4 style="color: black; float:right;">{{user}}</h4>
          <a class="btn btn-primary" href="{% url 'mypost' %}" role="button">My Post</a>
          <a class="btn btn-primary" href="{% url 'post'%}" role="button">Create Post</a>
          <a class="btn btn-primary" href="{% url 'logout' %}" role="button">Logout</a>
         
          <hr style="clear:both;"/>
     </div>
     {% for i in post_list %}
     <h1 class="postcenter">{{i.title}}</h1>
     <a href="{% url 'mypostdeatils' i.id %}"><img src="{{ i.image.url }}" width="400" height="200"></a>
     <h5>Author Name :-{{i.author}}</h5>
     <p>Description :- {{i.description}}</p>
     <p>{{i.created_at}}</p>
     <hr>
     {% endfor %}
 </div>
 <script src="{% static 'enroll/js/jquery.js' %}"></script>
 <script src="{% static 'enroll/js/popper.js' %}"></script>
 <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
</body>
</html>